{% extends "petsitterapp/base.html" %}

{% block content %}
{% load static %}
<div class="aboutus">
  <h1>Our Stories</h1>
  <div class="whoweare">
    <img src="{% static 'petsitterapp/image/dog_staff2.jpg' %}"/> <!-- image source: https://unsplash.com/photos/6GY_pIXBEm0 -->
    <div class="who">
      <h3 id="titlewho">Who We Are</h3>
      <p id="textwho">Petty Care specializes in force-free, science-based methods of care for pets in Lafayette and West Lafayette, IN since 2015. We have a trusted team of professional pet lovers with the best job in the world. We make your work day, vacation and everyday life easier, knowing your pet is being exercised and well cared for.</p>
    </div>
  </div>
  <div class="whatwedo">
    <div class="what">
      <h3 id="titlewhat">What We Do</h3>
      <p id="textwhat">Petty Care offers a variety of pet sitting options so your beloved dog, cat, or pocket pet can remain in the comforts of their own home while you are away. </p>
    </div>
    <img src="{% static 'petsitterapp/image/cat_staff.jpg' %}"/><!-- image source: https://www.pinterest.com/pin/445997169349048508/ -->
  </div>
</div>
{% endblock %}
