{% extends "petsitterapp/base.html" %}
{% load static %}

{% block head %}
    <meta charest="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PettyCare-profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'petsitterapp/style1.css' %}">
    <script src="https://kit.fontawesome.com/4ff6aa6212.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="{% static 'members/pettycare.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="icon">
            <img src={{ object.sitter_img.url }}>
        </div>
        <div class="intro">
            <h1>Introduction</h1>
            <div class="content">
                <p>{{ object.story }}</p>
            </div>
        </div>

        <div class="info">
            <div class="left">
                <h1 class="name">{{ object.name }}</h1>
                <p class="address">{{ object.address }}</p>
                <iframe
                        width="80%"
                        height="200"
                        style="border:0; padding-left: 30px"
                        loading="lazy"
                        allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCffDPyT2Pr6kuV16AGxANxB3jaj-whg58
    &q=WestLafayette&zoom=7">
                </iframe>

                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="discriptioon">{{ object.introduction }}</p>
                <a href="mailto:meng147@purdue.edu?subject=Notice from PettyCare">
                    <button>Send Email</button>
                </a>
            </div>
            <div class="right">
                <div class="like">
                    <button id="like-btn" type="button"><i class="fa-regular fa-heart"></i></button>
                </div>
                <div class="price">
                    {{ object.price }}
                </div>

            </div>
        </div>
        <div class="imgs">
            <img src="{% static 'petsitterapp/image/catanddog.jpg' %}">
            <img src="{% static 'petsitterapp/image/catanddog2.jpg' %}">
            <img src="{% static 'petsitterapp/image/cat1.jpg' %}">
            <img src="{% static 'petsitterapp/image/dog2.jpg' %}">
            <img src="{% static 'petsitterapp/image/dog3.jpg' %}">
            <img src="{% static 'petsitterapp/image/dog.jpg' %}">
        </div>

        <div class="reviews">
            <h1>Reviews</h1>
            <div class="review-text">
                {% if not object.comments.all %}
                    No Comments Yet...
                {% else %}
                    {% for comment in object.comments.all %}
                        <div class="review">
                            <h3>{{ comment.user }}</h3>
                            <p>{{ comment.comment }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="comment">
                    <h2>Leave a comment</h2>
                    {% if user.is_authenticated %}
                    <div class="comment-box">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {{form}}
                            </div>
                            <button class="btn btn-primary" type="submit">Comment</button>
                        </form>
                    </div>
                    {% else %}
                        Please <a href="{% url 'login' %}">Login</a> to leave a comment...
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>
{% endblock %}
