{% extends "petsitterapp/base.html" %}
{% load static %}
{% block content %}
<div class="main-container">
    <div class="icon">
        <img src="{% static 'petsitterapp/image/woman.jpg' %}">
    </div>
    <div class="intro">
        <h1>Introduction</h1>
        {% for sitter in sitters %}
            <div class="content">
                <p>{{sitter.story}}</p>
            </div>
        {% endfor %}
    </div>
        
    <div class="info">
        {% for sitter in sitters %}
        <div class="left">
            <h1 class="name">{{sitter.name}}</h1>
            <p class="address">{{sitter.address}}</p>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <p class="discriptioon">{{sitter.introduction}}</p>
            <button type="button" >Contact</button>
        </div>
        <div class="right">
            <div class="like"><button id="like-btn" type="button"><i class="fa-regular fa-heart"></i></button></div>
            <div class="price">
                {{sitter.price}}    
            </div>                            
        </div>
        {% endfor %}                            

    </div>
    <div class="imgs">
        <img src="{% static 'petsitterapp/image/catanddog.jpg' %}">
        <img src="{% static 'petsitterapp/image/catanddog2.jpg' %}">
        <img src="{% static 'petsitterapp/image/cat1.jpg' %}">
        <img src="{% static 'petsitterapp/image/dog2.jpg' %}">            
        <img src="{% static 'petsitterapp/image/dog3.jpg' %}">
        <img src="{% static 'petsitterapp/image/dog.jpg' %}">
    </div>
    <div class="reviews">
        <h1>Reviews</h1>
        <div class="review-text">
            {% for review in reviews %}
                <div class="review" id="review.review_id">
                    <h3>{{review.name}}</h3>
                    <p>{{review.content}}</p>
                </div>
            {% endfor %}
            <div class="comment">
                <h2>Leave a comment</h2>
                <input type="text" name="textComment" placeholder="comment here...">
                <button id="post-btn" type="button">Post</button>
            </div>
        </div>           
    </div>
</div>

{% endblock %}
