{% extends "petsitterapp/base.html" %}
{% load static %}
{% block content %}
<div class="search-container">
    <div class="search">
        <form>
            <div class="row">
                <div class="input">
                    <label>Boarding Here: </label>
                    <input type="text" placeholder="Enter zip code or city">
                </div>
                <div class="input">
                    <label>$Min: </label>
                    <input type="number" placeholder="Minimum price">
                </div>
                <div class="input">
                    <label>$Max: </label>
                    <input type="number" placeholder="Maximum price">
                </div>
                <div class="input">
                    <label>Sitter Gender: </label>
                    <div class="sitter-option">
                        <select id="sitter-sex">
                            <option value="">male</option>
                            <option value="">female</option>
                        </select>
                    </div>
                </div>
                <div class="search-btn">
                    <button type="submit">RESET</button>
                </div>
            </div>                  
        </form>
    </div>
</div>

<div class="search-mini">
    <form action="">
        <input type="text" placeholder="search sitters">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>


<h2 class="sitter-list">Pet Sitters: </h2>
<div class="sitters-container">
    {% for sitter in object_list %}
    <div class="card-container">
        <img src={{sitter.sitter_img.url}} >           
        <span>
            <h3 class="name"><a href="{% url 'profile-detail' pk=sitter.pk %}">{{sitter.name}}</a></h3>
            <div class="like"><i class="fa-regular fa-heart"></i></div> 
            <p>{{sitter.address}}</p>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <p class="content">{{sitter.introduction}}</p>
            
            <p class="price">{{sitter.price}}</p>
            
        </span>           
    </div>
    {% endfor %}
    
</div>
{% endblock %}

