{% extends "petsitterapp/index.html" %}
{% load static %}

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

{% block content %}      
<div class="login-window"> 
    <div class="login-box">
        <form action="" method="POST">
            {% csrf_token %}
            <img src="{% static 'petsitterapp/image/logo.jpg' %}" class="login-logo">
            <div class="username">
                <input type="text" name="username" placeholder="username">
            </div>
            <div class="password">
                <input type="password" name="password" placeholder="password">
            </div>
            <div class="login-btn">
                <button type="submit">Log in</button>
            </div>
        </form>
        <div class="message">
            <center>
                {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
            </center>
        </div> 
        <div class="signup-box">
            <p>Don’t have an account?<span><a href="#">Sign up</a></span></p>
        </div>
    </div>
    
</div>
{% endblock %}
