{% extends "authenticate/addpet.html" %}
{% load static %}



{% block content %}

<div class="yourPage-container">
    <div class="your-icon">
        <img src="{% static 'petsitterapp/image/nuria.jpg' %}">
    </div>
    <div class="your-info">
        <h1 class="your-name"><b>Username: </b>{{ user_info.username }}</h1>
        <p id="location"><b>Address: </b>West Lafayette, IN 47906</p>
        <p><b>Email: </b>{{ user_info.email }}</p>
        <p><b>Last Login Time: </b>{{ user_info.login_time }}</p>

        
    </div>
    <div class="tab">
        <div class="tab-list">
            <a href="#">Edit Profile</a>
            <a href="{% url 'logout' %}">Log Out</a>
        </div>
    </div>
    <div class="pet-info">
        <h1>Pets Information</h1>
        <div class="pet-list">
            {% for pet in pet_list %}
                <div class="pet">
                    <img src="{{ pet.pic.url }}">
                    <span class="pet-text">
                        <h2>{{pet.info}}</h2>
                        <p>{{pet.introduction}}</p>
                        <br/><br/><br/>
                        <a href="{% url 'editpet' pet.id %}">Edit<i class="fa-solid fa-pen"></i></a>
                    </span>
                </div>
            {% endfor %}
            <div class="add">
                <a href="{% url 'addpet' %}"><i class="fa-solid fa-plus"></i>Add a new pet</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

